body{
    background-color: black;
}

span{
    color: #E81111;
}

i{
    color: #E81111;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto auto  ;
    grid-gap: 25px;
}

.item{
    background-color: blue;
    color: #fff;
    border: 1px solid #000;
    text-align: center;
}


.produto{
    display: flex;
    border-top: white;
    padding-top: 0;
}



.prod{
    flex: 1; /*distribui as 3 divs dentro do conteiner com larguras iguais*/
    margin: 5px; /*coloca uma margem entre elas*/
    text-align: center;
    border-top: white;
    font-size: medium;
    border-radius: 7px;

 }

.prod img{
    margin-top: 10p;
    border: white;
    max-width: 100%;
 }

 .filtrar{
    margin: 5px;
    text-align: left;
    flex: 1;
    border-radius: 15px;
    border-width: 300px;
 }

 #username{
    width: 30%;
 }

.filt{
    color: white;
    text-align: center;
    margin-top: 15px;
}

.precc{
    font-size: large;
    text-align: right;
}

.avald{
    font-size: large;
    text-align: right;
}
p{
    color: blanchedalmond;
    text-align: center;
}

h1{
    text-align: right;
}

.col-md-5{
    font-size: medium;
    margin: 10px;
    color: white;
}

.col-md-6{
    font-size: medium;
    margin: 10px;
    color: white;
}

.col-md-7{
    font-size: medium;
    margin: 10px;
    color: white;
}

.col-md-8{
   font-size: medium;
    margin: 10px;
    color: white;
     
}
.col-md-9{
   font-size: medium;
    margin: 10px;
    color: white;
     
}

.D_at{
    margin: 10px;
    width: 80px;
    align-content: center;
}

.valor{
    font-size: large;
}

hr{
    color: white;
}

