body{
    background-image:url('/imagens/teste.jpg');
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}
.corLetra, i{
    color: white;
}
.form-container{
    border-radius: 10px;
    padding: 40px;
    color: black;
}
form.login{
    background: #191919 ;
    margin-left: auto;
    margin-right: auto;
    min-width: 80%;
    max-width: 500px;
    width: 40vw;
}
a:hover{
    color: rgb(51, 51, 255);
}
div.centro-tela{
    margin: 0px;
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.entrarLink{
    color: white;
    text-decoration: none;
}