body{
    background-color: black;
    scroll-behavior: smooth;
}
.dark-mode {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
 }
i,.corLetra,.text_comprar,h2,h3{
    color: white;
}

.text_comprar, .img_teste{
    display: inline-block;
    /*float: left;*/
    margin-top: 10vh;
    margin-left: 25vh;
}
h2,h3{
    margin-left: 10vh;
    margin-top: 1vh;
}

div.margem{
    margin-right: 9%;
    margin-left: 9%;
}
.prod{
    flex: 1; /*distribui as 3 divs dentro do conteiner com larguras iguais*/
    margin: 5px; /*coloca uma margem entre elas*/
    text-align: center;
    border: 5px solid #191919;
}
.produto{
    display: flex;
    border-top: none;
    padding-top: 0;
}
.tamanho{
    width: 100%;
}
.conteudo-pagina{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.corLetra-cabecalho{
    text-decoration: none;
}
.image-perfil{
    border-image-width: 2px;
    width: 20%;
    min-width: 175px;
}